body {
	background-image: url(fondo2.jpg);
}

header h1	{
	background: transparent url(h1.jpg) no-repeat;
	margin-top: 40px;
	margin-right: 30px;
	float: right;
	display: block;
	width: 450px;
	height: 70px;
	font-size: 50px;

}

header h2	{
	background: transparent url(h1.jpg); 
	margin-top: 80px; 
	margin-bottom: 40px; 
	width: 200px; 
	height: 18px; 
	float: right;
	display: block;
	position: relative;
}

header {
	padding-top: 20px;
	height: 150px;
}

h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: FFFFFF;
}

p {  
	margin-top: 0; 
	text-align: justify;
}

.summary {
	clear: top; 
	margin: 0px 0px 0px 10px; 
	width: 160px; 
	display: block;
	}
.summary p {
	font: italic 1em/2.2 georgia; 
	text-align: center;
	}

.preamble {
	clear: left; 
	padding: 0px 10px 0 200px;
	}

.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;
	}